<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shapeonyou">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Activité de lancement (Login) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Déclaration de SignupActivity -->
        <activity
            android:name=".SignupActivity"
            android:exported="true" />

        <!-- Déclaration de MainActivity (si vous l’utilisez ailleurs) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".Quest1Activity" />
        <activity android:name=".Quest2Activity"
            android:exported="true"/>
        <activity android:name=".Quest3Activity" />
        <activity android:name=".LoginActivity" />

        <!-- Ajoutez ici d’autres activités si besoin :
        <activity android:name=".UneAutreActivity" />
         -->

    </application>
</manifest>
